h1 {
  font-size: 50px;
  text-align: center;
}

#pixelPainter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.pixel {
  border: 0.3px rgba(0, 0, 0, 0.15) solid;
  height: 5px;
  width: 5px;
  display: inline-block;

  /* DISABLE DRAGGING A PIXEL */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.palette {
  border: 1px black solid;
  height: 35px;
  width: 35px;
  display: inline-block;
  margin-top: 20px;
}

.colorCanvas {
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
}

.jscolor {
  border: 1px black solid;
  height: 38px;
  width: 37px;
  display: inline-block;
  padding: 0px;
  margin-top: 20px;
}

.operators {
  position: absolute;
  margin-top: 20px;
  left: 50%;
  top: 90%;
  transform: translateX(-50%) translateY(-50%);
}

/* Shrink pixel sizes if window too small */
@media only screen and (max-width: 630px) {
  .pixel {
    height: 3px !important;
    width: 3px !important;
  }
  .colorCanvas {
    top: 60%;
  }
  .operators {
    top: 65%;
  }
}
